@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
:root {
    --primary-color: #FED766;
    --secondary-color: #EEE1B3;
    --accent1-color: #5AB1BB;
    --accent2-color: #0B5563;
    --accent3-color: #1E152A;

    --heading-font: 'EB Garamond', serif; /* Set heading font */
    --paragraph-font: 'Poppins', sans-serif; /* Set paragraph font */

    --nav-background-color: #5AB1BB;
    --nav-link-color: #1E152A;
    --nav-hover-link-color: #EEE1B3;
    --nav-hover-background-color: #FED766;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}
nav {
    background-color: var(--nav-background-color);
}
nav a {
    text-decoration: none;
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
}
.sociallinks a {
    text-decoration: none;
    margin-right: 10px;
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%; 
    height: auto; 
}
.hero h1 {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1; 
}
.hero article {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(30, 21, 42, 0.7);
    padding: 20px;
}
.hero article img {
    float: right;
    margin-left: 20px;
}
