
:root {
    --primary-color: #FED766;
    --secondary-color: #EEE1B3;
    --accent1-color: #5AB1BB;
    --accent2-color: #0B5563;
    --accent3-color: #1E152A;

    --heading-font: 'EB Garamond', serif;
    --paragraph-font: 'Poppins', sans-serif;
    
    --nav-background-color: #5AB1BB;
    --nav-link-color: #1E152A;
    --nav-hover-link-color: #EEE1B3;
    --nav-hover-background-color: #FED766;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}

* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin-bottom: 10px;
}

p {
    color: var(--accent3-color);
    margin-bottom: 20px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--nav-background-color);
}
nav a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1em;
    color: var(--nav-link-color);
}
nav a:hover, nav a:focus {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    text-decoration: none;
}
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.sociallinks a {
    text-decoration: none;
    margin-right: 10px;
}

.hero {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.hero img {
    display: block;
    width: 100%; 
    height: auto; 
}
.hero h1, .hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
    max-width: 600px;
}
.hero h1 {
    top: 50px;
    background-color: rgba(15, 14, 14, 0.534);
}
.hero article {
    background-color: rgba(15, 14, 14, 0.534);
    padding: 20px;
}
.hero article img {
    width: 200px;
    float: right;
    margin-left: 20px;
}
.hero article p {
    margin-bottom: 10px;
    color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
}
header img{
    max-width: 100px;
    height: auto;
}
figure {
    flex: 1;
    margin: 0;
    text-align: left;
}
figure img {
    max-width: 100%;
    height: auto;
}
figcaption {
    margin-top: 10px;
    font-size: 12px;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-gap: 20px;
    margin-top: 50px;
}

fieldset {
    display: grid;
    grid-gap: 10px;
    border: 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: navy;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.employes {
    display: block;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.employes img {
    max-width: 250px;
    padding: 10px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.employes figcaption {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: var(--accent2-color);
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

.employes figure {
    margin-bottom: 10px;
    text-align: center;
}

button[type="submit"] {
    background-color: rgb(185, 141, 17);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: navy;
}
