@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #c4d0d1;
    color: #4380f1;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

header {
    background-color: #4380f1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 1rem;
    color: navy;
    margin-bottom: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-gap: 20px;
}

fieldset {
    display: grid;
    grid-gap: 10px;
    border: 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    color: navy;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button[type="submit"] {
    background-color: navy;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

footer {
    background-color: #4380f1;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.for-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem;
}