
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #274aac;
    color: #000000;
}

header {
    background-color: #e92626;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #000000;
}

main {
    padding: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #e92626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-gap: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #274aac;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007006;
}

footer {
    background-color: #494747;
    color: #fff;
    text-align: center;
    padding: 20px;
}
